/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block')
layer(google-icons);
@import 'tailwindcss';
@import './neo-brutalism.css';

@font-face {
  font-family: 'Segoe UI Emoji';
  src: url('/fonts/segoe-ui-emoji.woff2') format('woff2');
  font-display: swap;
}
/* Tailwind */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Fredoka', sans-serif;
  --font-mono: 'Space Mono', monospace;

  --color-toronja-50: #fff7ed;
  --color-toronja-100: #ffedd5;
  --color-toronja-200: #fdd6a9;
  --color-toronja-300: #fbb87a;
  --color-toronja-400: #f98e40;
  --color-toronja-500: #f76304;
  --color-toronja-600: #e04f03;
  --color-toronja-700: #b83a05;
  --color-toronja-800: #932f0a;
  --color-toronja-900: #79290e;
  --color-toronja-950: #421206;

  --color-neutral-250: #e1e1e1;
}

/*  Segoe UI Emoji */
.segoe-emoji {
  font-family: 'Segoe UI Emoji', 'Roboto', sans-serif;
}

/* Material Symbols Rounded */
.material-symbols-rounded {
  --fill: 0;
  --wght: 400;
  --grad: 0;
  --opsz: 24;

  font-variation-settings:
    'FILL' var(--fill),
    'wght' var(--wght),
    'GRAD' var(--grad),
    'opsz' var(--opsz);
}

.material-symbols-rounded.filled {
  --fill: 1;
}

dialog {
  color: inherit;
}

/* CodeMirror */
.cm-editor {
  height: 100%;
  /* font-size: var(--text-sm); */
  font-size: var(--text-base);
}

.cm-scroller {
  overflow: auto;
}

.cm-content {
  font-family: var(--font-mono);
}
