<ion-header *ngIf="layoutVisible">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [menu]="'appMenu'"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openColorPicker()">
        <ion-icon name="color-palette" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="toggleFullScreen()">
        <ion-icon [name]="!document.fullscreenElement ? 'expand' : 'contract'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content
  (click)="onClickContainer()"
  (tap)="onClickContainer()"
  [ngClass]="{'no-cursor': !layoutVisible}"
  [ngStyle]="{'--background': '#' + color}"
>
</ion-content>
