<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [menu]="'appMenu'"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <a [routerLink]="'/'" class="no-decoration">Toronja 🍊</a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let page of pages" size="12" sizeMd="6" sizeLg="4" sizeXl="3">
        <ion-card>
          <ion-item lines="full" [button]="true" [routerLink]="page.code">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
            <ion-button fill="clear" slot="end" color="toronja">
              <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                {{ page.description }}
                <ion-button (click)="setFavoritePage(page)" slot="end" fill="none">
                  <ion-icon [name]="favoritePage?.code === page.code ? 'star' : 'star-outline'" slot="icon-only" color="warning"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
