<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="aemetForm">
    <ion-list>
      <ion-item>
        <ion-label position="municipalityId">Municipality ID</ion-label>
        <ion-input placeholder="Municipality ID" formControlName="municipalityId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="apiKey">API KEY</ion-label>
        <ion-input placeholder="API KEY" formControlName="apiKey"></ion-input>
      </ion-item>      
    </ion-list>
  </form>
</ion-content>
